body {
  background-color: black;
  /* font-family: Courier New; */
  font-family: 'Nunito', sans-serif;

}
#mySelfie {
  background-color: rgba(255,255,255);
  border-radius: 60px;
  text-align: center;
}
.myNose {
  text-align: center;
  color: white;
  font-weight: bold;
}
.myNose:hover {
  color: red;
  font-size: 106px;
}
.myMouth {
  text-align: center;
  font-weight: bold;
  color: rgb(255,255,255);
  border: solid white 10px;
  border-radius: 55px;
}
.myMouth:hover {
  border-color: rgb(255,0,0);
  border-radius: 100%/0 0 30px 30px;
}
button {
  padding: 40px;
  border: solid 10px;
  border-radius: 55px;
  border-color: rgba(0,0,0);
  background-color: rgba(255,255,255);
  margin: 50px;
}

button div {
  border: solid 10px;
  border-color: rgba(0,0,0);
}
button:hover {
  border-bottom-width:200px;
  padding: 80px;
  border-color: rgba(255,0,0);
}
h3 {
 font-size: 50px;
 color: red;
 font-family: 'Noto Sans JP', sans-serif;
}
