html {
  background-color: #000000;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
button {
 padding: 100px;
}

button:hover {
 border: 5px solid yellow;
}

