html {
  background-color: #000000;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
#instructions{
    width: 80vw;
}
#word1{
    font-family: monospace;
    font-size: 1.7vw;
    color: white;
    text-align: center;
}
#word2{
    font-family: monospace;
    font-size: 1.7vw;
    color: white;
    text-align: center;
}
#word3{
    font-family: monospace;
    font-size: 1.7vw;
    color: white;
    text-align: center;
}
#word4{
    font-family: monospace;
    font-size: 1.7vw;
    color: white;
    text-align: center;
}
#word5{
    font-family: monospace;
    font-size: 1.7vw;
    color: white;
    text-align: center;
}
#word6{
    font-family: monospace;
    font-size: 1.7vw;
    color: white;
    text-align: center;
}
#word7{
    font-family: monospace;
    font-size: 1.7vw;
    color: white;
    text-align: center;
}
#word8{
    font-family: monospace;
    font-size: 1.7vw;
    color: white;
    text-align: center;
}
#word9{
    font-family: monospace;
    font-size: 1.7vw;
    color: white;
    text-align: center;
}
#word10{
    font-family: monospace;
    font-size: 1.7vw;
    color: white;
    text-align: center;
}
.animated1{
    animation-name: fadein;
    animation-duration: 5s;
}

.animated2{
    animation-name: fadein;
    animation-duration: 10s;
    /* animation-delay: 1.5s; */
}

.animated3{
    animation-name: fadein;
    animation-duration: 15s;
    /* animation-delay: 2s; */
}

.animated4{
    animation-name: fadein;
    animation-duration: 20s;
    /* animation-delay: 2.5s; */
}

.animated5{
    animation-name: fadein;
    animation-duration: 25s;
    /* animation-delay: 3s; */
}

.animated6{
    animation-name: fadein;
    animation-duration: 30s;
    /* animation-delay: 3.5s; */
}

.animated7{
    transition: color;
    animation-name: fadein;
    animation-duration: 35s;
    /* animation-delay: 4s; */
}

.animated8{
    animation-name: fadein;
    animation-duration: 40s;
    /* animation-delay: 4.5s; */
}

.animated9{
    animation-name: fadein;
    animation-duration: 45s;
    /* animation-delay: 5s; */
}

.animated10{
    animation-name: fadein;
    animation-duration: 80s;
}

@keyframes fadein {
    from {
      opacity: 0;
    }

    to {
     opacity: 1;
    }
  }
